.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
}

.movie {
  display: flex;
  padding: 10px;
}

.add-to-basket {
  width: 100px;
  height: 40px;
}

.no-margin {
  margin: 0;
}

.horizontal-margin {
  margin: 0 0.75em;
}
/*
https://www.quackit.com/html/html_editors/scratchpad/?example=/css/flexbox/tutorial/nested_flex_containers_example_2
*/
* {
  box-sizing: border-box;
  /*font-family: "Roboto", sans-serif; */
  font-family: Arial, Helvetica, sans-serif;

}

html {
  position: absolute;
  min-height: 80%;
  min-width: 100%;

}

body {
  flex-direction: column;
  margin: 0 0 100px;
  background-color: #0f171e;
  padding: 0px;
}
#main {
  display: flex;
  flex: 1;
}
#main > article {
  flex: 1;
}
#main > nav,
#main > aside {
  flex: 0 0 20vw;
  background: rgba(211, 211, 211, 0.282);
}
#main > nav {
  order: -1;
}
header,
article,
aside {
  padding: 1em;
  text-align: center;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #1b2530;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #a9a9a941;
}

/* Add a color to the active/current link */
.topnav .active {
  background-color: #0f79af;
  color: white;
}

.active {
  background-color: #0f79af;
  color: white;
}

/* Create a right-aligned (basket) link inside the navigation bar */
.topnav a.basket {
  float: right;
  background-color: #0f79af;
  color: white;
  padding: 14px 16px;
  font-size: 32px;
  border: none;
  outline: none;
}

.topnav a.user {
  float: right;
  color: white;
  font-size: 32px;
  border: none;
  outline: none;
}

.topnav a.help {
  float: right;
  /* background-color: #0f79af; */
  color: white;
  padding: 14px 16px;
  font-size: 32px;
  border: none;
  outline: none;
  position: relative;
}

.logo{
  display: inline-block;
  margin: auto;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  color: white;
}


/* this code is the same as .dropdown's css directly below the .homebtn code*/
.homebtn {
  float: left;
  overflow: hidden;
  position: relative;
  left: 10px;
  top: 12px;
}

.homebtn .homebtn-btn{
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  background-color: transparent;
  /* padding: 23px 16px; */
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: fixed;
  background-color: #0f171e;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  cursor: pointer;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #a9a9a941;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/*search bar text */
.search-text {
  flex: 1;
  position: relative;
  border: 0;
  margin: 5px;
  min-width: 0;
  outline: 0;
  background: transparent;
}

/* Search bar whole - new name (originally border-white) changed to search-bar */
.search-bar {
  display: flex;
  position: relative;
  top: 10px;
  left: 20px;
  border-width: 2px;
  border-color: #00a8e1;
  border-radius: 10px !important;
  flex-direction: row;
  border-style: solid;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  width: 300px;
  height: 45px;
}

/* Search bar icon - was originally search-button */
.search-icon {
  color: #ffffff !important;
  padding: 12px;
  box-sizing: content-box;
  width: 100%;
  height: 20%;
}

.temp-help{
  float: right;
  position: relative;
}

.text-white {
  color: #ffffff;
}

footer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 3px;
  width: 100%;
  height: 80px;
  background-color: #1b2530;
  color: white;
  text-align: center;
  }

  /* SEARCH BUTTON NOW NO LONGER USED 
  
  .search-button {
  cursor: pointer;
  position: relative;
  flex: 0;
  background: none;
  border: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 32px;
  border: none;
  outline: none;
  background-color: #0f79af;
  color: white;
  padding: 14px 16px;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  cursor: pointer;
}