/* Scales the images */
.image-1 {
width: 250px;
height: 350px;
margin: 19px auto 0;
}

.image-2 {
  width: 250px;
  height: 350px;
  margin: 19px auto 0;
}

.image-3 {
  width: 800px;
  height: 350px;
  margin: 19px auto 0;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1800px;
  position: relative; /*was relative */
  top: 60px;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.container {
  position: relative;
  width: 100%;
  top: 70px;
}

.right-container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  transition: .3s ease;
  backface-visibility: hidden;
  width: 450px;
  height: 450px; 
}


.middle {
  transition: .5s ease;
  opacity: 0;
  position: relative;
  top: -300%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.top {
  transition: .5s ease;
  opacity: 0;
  position: relative;
  top: -950%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/*  top: 10%;
  left: 50%;
  */

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.container:hover .top {
  opacity: 1;
}

.right-container:hover .image {
  opacity: 0.3;
}

.right-container:hover .middle {
  opacity: 1;
}

.right-container:hover .top {
  opacity: 1;
}

.text {
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.text-title {
  color: white;
  font-size: 28px;
  padding: 16px 32px;
  font-weight: bold;
}

.grid-container {
  padding: 8px 16px;
  max-width: 1800px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 5vw);
  row-gap: 400px;
  column-gap: 20px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .container {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .container {
    flex: 50%;
    max-width: 500%;
  }
}

.button-1 {
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Phantomsans, sans-serif;
  font-size: 16px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.button-1:hover {
  background-color: #f7fafa;
  outline: 0;
}

.button-1:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

.button-2 {
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Phantomsans, sans-serif;
  font-size: 12px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.button-2:hover {
  background-color: #f7fafa;
  outline: 0;
}

.button-2:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

.text-block {
  position: absolute;
  top: 40px;
  left: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 600px;
}

.fix {
  top: -1000%;
}
